body{
  background-color: rgb(40, 39, 38); font-family: Times New Roman; text-align: center;
  margin: 0; 

}

#mainsearch{
  color: black;
  font-size: 30px;
  font-weight: bold;
  border: 5px solid rgb(34, 193, 113);
  background-color: springgreen;
  margin: 0; 
  padding: 0; 

}

#eatsimage{
  height: 650px;
  
}

#readme{
  font-size: 20px;
}
#note{
  font-size: 15px;
}

h2{
  color: black;
  font-size: 28px;
  font-weight: bold;
  border: 5px solid rgb(249, 61, 61);
  background-color: rgb(233, 92, 92);
  margin: 0; 
  padding: 0; 
}

form{
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Times New Roman;
  color: black;
  
}

#search {
  width: 450px; 
  height: 40px; 
  font-size: 20px; 
  text-align: center;
  font-family: Times New Roman;
  border: 1px solid rgb(40, 38, 38);
  border-radius: 18px 0 0 18px;
  color: black !important;

}

#submit{  
  width: 80px;
  height: 45px;
  font-size: 14px;
  text-align: center;
  background-color: cyan;
  border: 1px solid rgb(40, 38, 38);
  border-radius: 0 18px 18px 0;
  font-weight: bold;
  font-family: Times New Roman;
  
  
}

#submit:disabled {
  background-color: cyan; 
}

#submit:not(:disabled):hover {
  background-color: yellow;  /* color changes only when buttons enabled */
  color: black;
}

#thanks{
  font-size: 15px;
  color: black;
  background-color: springgreen;
  margin: 0;
  padding: 0;
  height: 30px;
  border: 3px solid rgb(34, 193, 113);
  text-align: center;
  display: flex; 
  justify-content: center;
  align-items: center; 

  
}


#ingredspic{
  width: 1445px;
  height: 650px;
  margin: 0;
  padding: 0;
  display: block;

}